@import '../../../assets/variables/color.scss';
.skills{
    &__label{
        color: $gray;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 3px;
        display: block;
        margin-bottom: 13px;
    }
    &__skill{
        margin-bottom: 15px;
        &-title{
            color: $pink;
            font-size: px;
            font-weight: 600;
            letter-spacing: 3px;
        }
        &-rate{
            margin-top: 5px;
            width: 100%;
            height: 5px;
            background-color: $white;
        }

    }
}