@import '../../../assets/variables/color.scss';

.experience{
    @media screen and (max-width: 664px){
    &__content{
        flex-direction: column;
        border-bottom: 2px dashed $gray;
        margin-bottom: 20px;
        &__left{
            display: flex;
            flex-direction: column;
            &-name{
                color: $pink;
                font-weight: 600;
                font-size: 20px;
                letter-spacing: 3px;
                white-space: nowrap;
            }
            &-year{
                color: $white;
                font-weight: 600;
                font-size: 15px;
                letter-spacing: 3px;
            }
        }
        &__right{
            margin: 10px 0 20px;
            &-role{
                color: $blue;
                font-weight: 600;
                letter-spacing: 3px;
                font-size: 20px;
            }
            &-list{
                margin: 0;
                padding: 0;
                list-style-type: none;
                &-li{
                    color: $white;
                    font-weight: 600;
                    letter-spacing: 3px;
                    line-height: 30px;
                }
            }
        }
    }
}
}