<div class="experience">
    <span class="experience__label">// WORK EXPERIENCE</span>

    <div *ngFor="let job of experiences" class="experience__content">
        <div class="experience__content__left">
            <span class="experience__content__left-name">{{job.company}}</span>
            <span class="experience__content__left-year">
                <span>{{job.start_date | date:'YYYY'}} - </span>
                <span *ngIf="job.end_date; else now">{{job.end_date | date:'YYYY'}}</span>
            </span>
        </div>
        <div class="experience__content__right">
            <span class="experience__content__right-role">{{job.role}}</span>
            <ul class="experience__content__right-list">
                <li *ngFor="let resp of job.responsibility" class="experience__content__right-list-li">{{resp}}</li>
            </ul>
        </div>
    </div>
</div>

<ng-template #now>
<span>Present</span>
</ng-template>
