@import '../../../assets/variables/color.scss';
.experience{
    &__label{
        color: $gray;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 3px;
    }
    &__content{
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        &__left{
            display: flex;
            flex-direction: column;
            min-width: 200px;
            &-name{
                color: $pink;
                font-weight: 600;
                font-size: 20px;
                letter-spacing: 3px;
                white-space: nowrap;
            }
            &-year{
                color: $white;
                font-weight: 600;
                font-size: 15px;
                letter-spacing: 3px;
            }
        }
        &__right{
            margin-left: 90px;
            width: 100%;

            &-role{
                color: $blue;
                font-weight: 600;
                letter-spacing: 3px;
                font-size: 20px;
            }
            &-list{
                margin: 0;
                padding: 0;
                list-style-type: none;
                &-li{
                    color: $white;
                    font-weight: 600;
                    letter-spacing: 3px;
                    line-height: 30px;
                }
            }
        }
    }
}