<div class="experience">
    <span class="experience__label">// WORK EXPERIENCE</span>

    <div class="experience__content">
        <div class="experience__content__left">
            <span class="experience__content__left-name">Brain Fors</span>
            <span class="experience__content__left-year">2021 - now</span>
        </div>
        <div class="experience__content__right">
            <span class="experience__content__right-role">Angular developer</span>
            <ul class="experience__content__right-list">
                <li class="experience__content__right-list-li">Adding functionality to a ready-made page.</li>
                <li class="experience__content__right-list-li">Writing Unit tests.</li>
                <li class="experience__content__right-list-li">Creating web pages.</li>
            </ul>
        </div>
    </div>

    <div class="experience__content">
        <div class="experience__content__left">
            <span class="experience__content__left-name">Upwork</span>
            <span class="experience__content__left-year">2022 - now</span>
        </div>
        <div class="experience__content__right">
            <span class="experience__content__right-role">Front End Developer</span>
            <ul class="experience__content__right-list">
                <li class="experience__content__right-list-li">Creating web pages.</li>
            </ul>
        </div>
    </div>
</div>
