.system{
    @media screen and (max-width: 664px) {
    &__summary{
        margin-top: 50px;
    }
    &__experience{
        margin-top: 50px;
    }
    &__personal{
        flex-direction: column;
        &-knowledge{
            margin-left: 0
        }
        &-skill{
            width: 100%;
        }
    }
    }
}