$pink: #F92672;
$background: #272822;
$blue: #66D9EF;
$gray: #666666;
$white: #F8F8EE;
$green: #A6E22E;
$gradient: (0deg, rgba(102,217,239,1) 0%, rgba(111,206,232,1) 36%, rgba(199,98,156,1) 68%, rgba(249,38,114,1) 100%);
$blue_background: rgb(102,217,239);