<div class="info">
    <div class="info__left">
        <img src="../../../assets/images/photo.jpg" alt="user image" class="info__left-img">
        <div class="info__left__name_role">
            <span class="info__left__name_role-name">Vigen Hovhannisyan</span>
            <span class="info__left__name_role-role">Front End Developer</span>
            <div class="info__left__name_role-link">
                <a class="info__left__name_role-link__social" target="_blank" href="https://www.linkedin.com/in/vigen-hovhannisyans">
                    <img class="social" src="../../../assets/images/linkedin.svg" alt="">
                </a>
                <a class="info__left__name_role-link__social" target="_blank" href="https://github.com/vigenhovhannisyans">
                    <img class="social" src="../../../assets/images/github.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="info__right web">
        <ul class="info__right__location">
            <li class="info__right__location-item">18.02.2000</li>
            <li class="info__right__location-item">+374(93)098-092</li>
            <li class="info__right__location-item">vigenhovhannisian@gmail.com</li>
            <li class="info__right__location-item">Armenia Gyumri</li>
            <li class="info__right__location-item">
                <a class="info__right__location-item-link" target="_blank" href="https://github.com/vigenhovhannisyans">https://github.com/vigen</a>
            </li>
            <li class="info__right__location-item">
               <a class="info__right__location-item-link" target="_blank" href="https://www.linkedin.com/in/vigen-hovhannisyans">https://www.linkedin.com/vigen</a> 
            </li>
        </ul>
    </div>

    <div class="info__right mobile">
        <ul class="info__right__location">
            <li class="info__right__location-item contact">18.02.2000</li>
            <li class="info__right__location-item contact">+374(93)098-092</li>
            <li class="info__right__location-item contact">Armenia Gyumri</li>
            <li class="info__right__location-item contact email">vigenhovhannisian@gmail.com</li>

        </ul>
        <ul class="info__right__location links">
            <li class="info__right__location-item">
                <a class="info__right__location-item-link" target="_blank" href="https://github.com/vigenhovhannisyans">https://github.com/vigen</a>
            </li>
            <li class="info__right__location-item">
               <a class="info__right__location-item-link" target="_blank" href="https://www.linkedin.com/in/vigen-hovhannisyans">https://linkedin.com/vigen</a> 
            </li>
            <li class="info__right__location-item">vigenhovhannisian@gmail.com</li>

        </ul>
    </div>
</div>
