<div class="info">
    <div class="info__left">
        <img [src]="userInfo.image" alt="user image" class="info__left-img">
        <div class="info__left__name_role">
            <span class="info__left__name_role-name">{{userInfo.name}} {{userInfo.surname}}</span>
            <span class="info__left__name_role-role">{{userInfo.headline}}</span>
            <div class="info__left__name_role-link">
                <a class="info__left__name_role-link__social" target="_blank" href="https://www.linkedin.com/in/vigen-hovhannisyans">
                    <img class="social" src="../../../assets/images/linkedin.svg" alt="">
                </a>
                <a class="info__left__name_role-link__social" target="_blank" href="https://github.com/vigenhovhannisyans">
                    <img class="social" src="../../../assets/images/github.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="info__right web">
        <ul class="info__right__location">
            <li class="info__right__location-item">{{userInfo.date_of_birth}}</li>
            <li class="info__right__location-item">{{userInfo.location}}</li>
            <li class="info__right__location-item">{{userInfo.phone}}</li>
            <li class="info__right__location-item">{{userInfo.email}}</li>
            <li class="info__right__location-item">
               <a class="info__right__location-item-link" target="_blank" [href]="userInfo.linkedin">https://www.linkedin.com/vigen</a> 
            </li>
            <li class="info__right__location-item">
                <a class="info__right__location-item-link" target="_blank" [href]="userInfo.github">https://github.com/vigen</a>
            </li>
        </ul>
    </div>

    <div class="info__right mobile">
        <ul class="info__right__location">
            <li class="info__right__location-item contact">{{userInfo.date_of_birth}}</li>
            <li class="info__right__location-item contact">{{userInfo.phone}}</li>
            <li class="info__right__location-item contact">{{userInfo.location}}</li>
            <li class="info__right__location-item contact email">{{userInfo.email}}</li>

        </ul>
        <ul class="info__right__location links">
            <li class="info__right__location-item">
                <a class="info__right__location-item-link" target="_blank" [href]="userInfo.github">https://github.com/vigen</a>
            </li>
            <li class="info__right__location-item">
               <a class="info__right__location-item-link" target="_blank" [href]="userInfo.linkedin">https://linkedin.com/vigen</a> 
            </li>
            <li class="info__right__location-item">{{userInfo.email}}</li>

        </ul>
    </div>
</div>
